<div class="wrapper">
  <div class="main-page-content">
    <div class="main-page-content__left">
      <div class="main-page-content__left__links">
        <h3>Your Feed</h3>
        <h3 class="active">Global Feed</h3>
      </div>
      <div class="main-page-content__feeds">
        <ng-container>
          <app-feed></app-feed>
        </ng-container>
      </div>
    </div>

    <div>
      <div class="main-page-content__right">
        <h3>Popular Tags</h3>

      </div>
    </div>
  </div>
</div>